.btn-cta{
  width: 100%;
  height: 64px;
  background-color: #D5EF7F;
  display: block;
  text-align: center;
  line-height: 64px;
  color: #453257;
  border: 0px;
}
.btn-tag{
  border-radius: 10px;
  padding: 0px 3px;
  font-size: 12px;
  border: 1px solid #D3C1E5;
  color: #8560A9;
  font-weight: 300;
  display: inline-block;
  text-align: center;
}